[Unit]
Description=reddit app
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/reddit
ExecStart=/usr/bin/bundle exec puma
ExecReload=/bin/kill -USR1 $MAINPID
Restart=no

[Install]
WantedBy=multi-user.target