[Install]
WantedBy=multi-user.target

[Unit]
Description=reddit app
After=network.target
WantedBy=multi-user.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit
EnvironmentFile=/home/ubuntu/db_config
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
